<h1>Welcome to the Students controller!</h1>
<h2>Please choose a link below:</h2>
<ul>
    <li>
        <a asp-controller="Students" asp-action="List">List all students</a>
    </li>
    <li>
        <a asp-controller="Students" asp-action="Search">Search for students</a>
    </li>
</ul>